[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
torch = "*"
torchsde = "*"
torchvision = "*"
torchaudio = "*"
einops = "*"
transformers = "*"
safetensors = "*"
aiohttp = "*"
pyyaml = "*"
pillow = "==9.5.0"
scipy = "*"
tqdm = "*"
psutil = "*"
kornia = ">=0.7.1"
spandrel = "*"
gitpython = "*"
pygithub = "*"
matrix-client = "==0.4.0"
huggingface-hub = "*"
typer = "*"
rich = "*"
typing-extensions = "*"
accelerate = "*"
aiosignal = "*"
annotated-types = "*"
async-timeout = "*"
attrs = "*"
bitsandbytes = "*"
certifi = "*"
charset-normalizer = "*"
datasets = "*"
deepspeed = "*"
diffusers = "*"
peft = "*"
dill = "*"
filelock = "*"
frozenlist = "*"
fsspec = "*"
hjson = "*"
idna = "*"
importlib-metadata = "*"
jinja2 = "*"
markupsafe = "*"
mpmath = "*"
multidict = "*"
multiprocess = "*"
networkx = "*"
ninja = "*"
numpy = "*"
pandas = "*"
py-cpuinfo = "*"
pyarrow = "*"
pyarrow-hotfix = "*"
pydantic = "*"
pydantic-core = "*"
pynvml = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
requests = "*"
six = "*"
sympy = "*"
tokenizers = "*"
tzdata = "*"
urllib3 = "*"
xxhash = "*"
yarl = "*"
zipp = "*"
insightface = "*"
opencv-python = "*"
onnxruntime = "*"
onnxruntime-gpu = "*"
rembg = "*"

[dev-packages]

[requires]
python_version = "3.10"
